<h1>로그인하기</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<%= form_tag sessions_path do %>
    Email: <%= email_field_tag :email%><br>
    Password: <%= password_field_tag :password %><br>
    <%= submit_tag '로그인하기' %>
<% end %>